:root{
    --size: 10px;
}

html.resised{
    font-size: var(--size) !important;
    filter: contrast(150%) !important; 
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: italic !important;
    font-weight: bolder !important;
    line-height: 1.5 !important;
}


p.resised{
    font-size: 2em !important;
    line-height: 35px !important;
}

span.resised{
    font-size: 1.3em !important;
}

h1.resised{
    font-size: 3em !important;
    font-weight: 700 !important;
}
h2.resised{
    font-size: 2.7em !important;
}

h3.resised{
    font-size: 2.5em !important;
}

h4.resised{
    font-size: 2.3em !important;
}

h5.resised{
    font-size: 2.1em !important;
}

h6.resised{
    font-size: 1.9em !important;
}

a.resised{
    position: static !important;
    font-size: 1.1em !important;
}

button.resised, input[type=submit].resised{
    margin: 1.2em !important;
    font-size: 1.3em !important;
}

dl.resised{
    font-size: 1.4em !important;
}

imput.resised{
    width: auto;
    height: auto;
    font-size: 1.2em;
}

.marked:hover::after{
    position: fixed !important;
    top: auto !important;
    right: auto !important;
    left: 50% !important;
    bottom: 20px !important;
    line-height: 1.2 !important;
    transform: translateX(-50%)!important;
    content: attr(data-text) !important;
    background-color: white !important;
    color: black !important;
    font-size: 50px;
    font-weight: bold !important;
    border: 1px solid black !important;
    width: auto !important;
    height: auto !important;
    max-height: 30vh !important;
    z-index: 1000 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
    box-sizing: content-box !important;
    box-shadow: 0 0 5px 1px black !important;
    border-radius: 24px !important; 
    text-align: center !important;
    
}
.marked:hover:empty::after{
    padding: 0 !important;
    border: none !important;
}
.marked:hover{
    position: static !important;
    overflow: visible !important; 
}