:root{
    --size: 13px;
}

html{
    font-size: var(--size) !important;
    filter: contrast(150%) !important; 
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: italic !important;
    font-weight: bolder !important;
    line-height: 1.5 !important;
}

div{
    width: auto !important;
    height: auto !important;
}

p{
    font-size: 2em !important;
    line-height: 35px !important;
}

span{
    font-size: 1.3em !important;
}

h1{
    font-size: 3em !important;
    font-weight: 700 !important;
}
h2{
    font-size: 2.7em !important;
}

h3{
    font-size: 2.5em !important;
}

h4{
    font-size: 2.3em !important;
}

h5{
    font-size: 2.1em !important;
}

h6{
    font-size: 1.9em !important;
}

a{
    position: static !important;
    font-size: 1.1em !important;
}

button, input[type=submit]{
    margin: 1.2em !important;
    font-size: 1.3em !important;
}

dl{
    font-size: 1.4em !important;
}

imput{
    width: auto;
    height: auto;
    font-size: 1.2em;
}

.marked:hover::after{
    position: fixed !important;
    top: auto !important;
    right: auto !important;
    left: 50% !important;
    bottom: 20px !important;
    line-height: 1.2 !important;
    transform: translateX(-50%)!important;
    content: attr(data-text) !important;
    background-color: white !important;
    color: black !important;
    font-size: 50px;
    font-weight: bold !important;
    border: 1px solid black !important;
    width: auto !important;
    height: auto !important;
    z-index: 1000 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
    box-sizing: content-box !important;
    border-radius: 24px !important; 
    text-align: center !important;
    
}
.marked:hover:empty::after{
    padding: 0 !important;
    border: none !important;
}